<?define ProductVersion = "1.3.0" ?>
<?define InstallerName = "Snake-by-InfinitePain-$(var.ProductVersion)-Windows_Installer.msi" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="Snake-by-InfinitePain_Installer"
          Version="$(var.ProductVersion)"
          Manufacturer="InfinitePain"
          UpgradeCode="46a4c87c-8cf6-49f0-917b-2513df9e5714">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="LICENSE.rtf" />
    </BootstrapperApplicationRef>
    <util:RegistrySearch Id="VCRedistMajor" Variable="VCRedistMajor" 
                        Root="HKLM" 
                        Key="SOFTWARE\Wow6432Node\Microsoft\VisualStudio\14.0\VC\Runtimes\x64" 
                        Value="Major" 
                        Result="value" />
    <util:RegistrySearch Id="VCRedistMinor" Variable="VCRedistMinor" 
                        Root="HKLM" 
                        Key="SOFTWARE\Wow6432Node\Microsoft\VisualStudio\14.0\VC\Runtimes\x64" 
                        Value="Minor" 
                        Result="value" />

    <Chain>
      <ExePackage Id="VCRedist"
                  Cache="no"
                  Compressed="yes"
                  PerMachine="yes"
                  Permanent="yes"
                  Vital="yes"
                  SourceFile="VC_redist.x64.exe"
                  DetectCondition="VCRedistMajor >= 14 AND VCRedistMinor >= 34"
                  InstallCondition="NOT VCRedistMajor OR NOT VCRedistMinor" />

      <MsiPackage Id="Snake_by_InfinitePain"
                  SourceFile="../../out/build/Windows-x64-Release/$(var.InstallerName)" />
    </Chain>
  </Bundle>
</Wix>
